{% extends 'base.html.twig' %}

{% block title %}formulaireV{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">id</th>
                <td>{{formulaireV.id}}</td>
            </tr>
            <tr>
                <th scope="row">nom</th>
                <td>{{formulaireV.nom}}</td>
            </tr>   
            <tr>
                <th scope="row">prenom</th>
                <td>{{formulaireV.prenom}}</td>
            </tr>
            <tr>
                <th scope="row">email</th>
                <td>{{formulaireV.Email}}</td>  
            </tr>           
            <tr>
                <th scope="row">numero_de_telephone</th>
                <td>{{formulaireV.numero_de_telephone}}</td>
            </tr>   
            <tr>
                <th scope="row">message</th>
                <td>{{formulaireV.message}}</td>
        </tbody>
    </table>
    <a href="{{ path('formulaireV_index') }}" class="btn btn-primary">Retour</a>>