{% extends 'base.html.twig' %}

{% block title %}Informations{% endblock %}

{% block body %}
<table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Horaires</th>
                <th scope="col">Services</th>
            </tr>
        </thead>
        <tbody>
            {% for informations in informationss %}
            <tr>
                <td scope="row">{{informations.id}}</td>
                <td>{{informations.Horaires}}</td>
                    <td>
                        <a href="{{ path('informations_show', {'id': informations.id}) }}" class="btn btn-primary">Détails</a>
                        <a href="{{ path('informations_edit', {'id': informations.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('informations_delete', {'id': informations.id}) }}" class="btn btn-primary">Supprimer</a>
                    </td>
                    </td>

                <td>{{informations.Services}}</td>
                    <td>
                        <a href="{{ path('informations_show', {'id': informations.id}) }}" class="btn btn-primary">Détails</a>
                        <a href="{{ path('informations_edit', {'id': informations.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('informations_delete', {'id': informations.id}) }}" class="btn btn-primary">Supprimer</a>
                    </td>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
