{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}
<table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">email</th>
                <th scope="col">password</th>
            </tr>
        </thead>
        <tbody>
            {% for Administrateur in Administrateurs %}
            <tr>
                <td scope="row">{{Administrateur.id}}</td>
                <td>{{Administrateur.email}}</td>
                <td>
                    <a href="{{ path('Administrateur_show', {'id': Administrateur.id}) }}" class="btn btn-primary">Détails</a>
                    <a href="{{ path('Administrateur_edit', {'id': Administrateur.id}) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path('Administrateur_delete', {'id': Administrateur.id}) }}" class="btn btn-primary">Supprimer</a>
                </td>
                <td>{{Administrateur.password}}</td>
                <td>
                    <a href="{{ path('Administrateur_show', {'id': Administrateur.id}) }}" class="btn btn-primary">Détails</a>
                    <a href="{{ path('Administrateur_edit', {'id': Administrateur.id}) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path('Administrateur_delete', {'id': Administrateur.id}) }}" class="btn btn-primary">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<a href="{{ path('Administrateur_create') }}" class="btn btn-primary">Ajouter un administateur</a>
{% endblock %}
