{% extends 'base.html.twig' %}

{% block title %}formulaireG{% endblock %}


{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Email</th>
                <th scope="col">Numero_de_telephone</th>
                <th scope="col">Message</th>
                <th scope="col">Client_Contacte</th>
            </tr>
        </thead>
        <tbody>
            {% for FormulaireG in FormulaireGs %}
            <tr>
                <td scope="row">{{formulaireG.id}}</td>
                <td>{{formulaireG.nom}}</td>
                    <td>
                        <a href="{{ path('formulaireG_show', {'id': formulaireG.id}) }}" class="btn btn-primary">Détails</a>
                        <a href="{{ path('formulaireG_edit', {'id': formulaireG.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('formulaireG_delete', {'id': formulaireG.id}) }}" class="btn btn-primary">Supprimer</a>
                    </td>

                <td>{{formulaireG.prenom}}</td>
                    <td>
                        <a href="{{ path('formulaireG_show', {'id': formulaireG.id}) }}" class="btn btn-primary">Détails</a>
                        <a href="{{ path('formulaireG_edit', {'id': formulaireG.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('formulaireG_delete', {'id': formulaireG.id}) }}" class="btn btn-primary">Supprimer</a>
                    </td>

                <td>{{formulaireG.email}}</td>
                    <td>
                        <a href="{{ path('formulaireG_show', {'id': formulaireG.id}) }}" class="btn btn-primary">Détails</a>
                        <a href="{{ path('formulaireG_edit', {'id': formulaireG.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('formulaireG_delete', {'id': formulaireG.id}) }}" class="btn btn-primary">Supprimer</a>
                    </td>

                <td>{{formulaireG.numero_de_telephone}}</td>    
                    <td>
                        <a href="{{ path('formulaireG_show', {'id': formulaireG.id}) }}" class="btn btn-primary">Détails</a>
                        <a href="{{ path('formulaireG_edit', {'id': formulaireG.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('formulaireG_delete', {'id': formulaireG.id}) }}" class="btn btn-primary">Supprimer</a>
                    </td>

                <td>{{formulaireG.Message}}</td>
                    <td>
                        <a href="{{ path('formulaireG_show', {'id': formulaireG.id}) }}" class="btn btn-primary">Détails</a>
                        <a href="{{ path('formulaireG_edit', {'id': formulaireG.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('formulaireG_delete', {'id': formulaireG.id}) }}" class="btn btn-primary">Supprimer</a>
                    </td>
                <td>{{formulaireG.Client_Contacte}}</td>
                    <td>
                        <a href="{{ path('formulaireG_show', {'id': formulaireG.id}) }}" class="btn btn-primary">Détails</a>
                        <a href="{{ path('formulaireG_edit', {'id': formulaireG.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('formulaireG_delete', {'id': formulaireG.id}) }}" class="btn btn-primary">Supprimer</a>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    

{% endblock %}
