{% extends 'base.html.twig' %}

{% block title %}formulaireG{% endblock %}

{% block body %}
<table class="table">
        <tbody>
            <tr>
                <th scope="row">id</th>
                <td>{{formulaireG.id}}</td>
            </tr>
            <tr>
                <th scope="row">nom</th>
                <td>{{formulaireG.nom}}</td>
            </tr>   
            <tr>
                <th scope="row">prenom</th>
                <td>{{formulaireG.prenom}}</td>
            </tr>
            <tr>
                <th scope="row">email</th>
                <td>{{formulaireG.Email}}</td>  
            </tr>           
            <tr>
                <th scope="row">numero_de_telephone</th>
                <td>{{formulaireG.numero_de_telephone}}</td>
            </tr>   
            <tr>
                <th scope="row">message</th>
                <td>{{formulaireG.message}}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('formulaireG_index') }}" class="btn btn-primary">Retour</a>>