{% extends 'base.html.twig' %}

{% block title %}Employes!{% endblock %}

{% block body %}
<table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
            </tr>
        </thead>
        <tbody>
            {% for employes in employess %}
            <tr>
                <td scope="row">{{employes.id}}</td>
                <td>{{employes.Email}}</td>
                <td>
                    <a href="{{ path('employes_show', {'id': employes.id}) }}" class="btn btn-primary">Détails</a>
                    <a href="{{ path('employes_edit', {'id': employes.id}) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path('employes_delete', {'id': employes.id}) }}" class="btn btn-primary">Supprimer</a>
                </td>
                <td>{{employes.Password}}</td>
                <td>
                    <a href="{{ path('employes_show', {'id': employes.id}) }}" class="btn btn-primary">Détails</a>
                    <a href="{{ path('employes_edit', {'id': employes.id}) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path('employes_delete', {'id': employes.id}) }}" class="btn btn-primary">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<a href="{{ path('employes_create') }}" class="btn btn-primary">Ajouter un employe</a>
{% endblock %}
