<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
                <a class="navbar-brand" href="{{path('app_home')}}">V.Parrot</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    </ul>
                        <form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Recherche">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Recherche</button>
                        </form>
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('page_gestion_des_vehicules')}}">Gestion des véhicules</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="{{path('page_gestion_contact_clients')}}" role="button" aria-haspopup="true" aria-expanded="false">Contacter les clients</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{path('page_formulaireG')}}">Contacter les clients pour l'atelier</a>
                                    <a class="dropdown-item" href="{{path('page_formulaireV')}}">Contacter les clients pour les véhicules</a>
                                </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="{{path('page_gestion_employes')}}" role="button" aria-haspopup="true" aria-expanded="false">Gestion compte employés</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{path('page_creation_employes')}}">Compte employés</a>
                                    <a class="dropdown-item" href="{{path('page_administrateur')}}">Compte administrateur</a>
                                </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('page_gestion_des_temoignages')}}" role="button" aria-haspopup="true" aria-expanded="false">Gestion des témoignages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('page_gestion_infos_garage')}}" role="button" aria-haspopup="true" aria-expanded="false">Gestion des infos du garage</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-secondary my-2 my-sm-0" href="#">Deconnexion</a>
                    
                </div>
    </div>
</nav>