{% extends 'base.html.twig' %}

{% block title %}FormulaireG{% endblock %}

{% block body %}
<h1>Formulaire Atelier</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope= 'col'>id</th>
                <th scope= 'col'>image_filename</th>
                <th scope= 'col'>prix</th>
                <th scope= 'col'>kilometrage</th>
                <th scope= 'col'>annee_circulation</th>
                <th scope= 'col'>equipements_et_options</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.id }}</td>
                <td>{{ vehicule.image_filename }}</td>
                <td>{{ vehicule.prix }}</td>
                <td>{{ vehicule.kilometrage }}</td>
                <td>{{ vehicule.annee_circulation }}</td>
                <td>{{ vehicule.equipements_et_options }}</td>
                <td>
                    <a href="{{ path('vehicule_show', {'id': vehicule.id}) }}">Details</a>
                    <a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}">Modifier</a>
                    <a href="{{ path('vehicule_delete', {'id': vehicule.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('vehicule_create') }}">Nouveau vehicule</a>
{% endblock %}