{% extends 'base.html.twig' %}

{% block title %}services{% endblock %}

{% block body %}
    <h1>services</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope= 'col'>id</th>
                <th scope= 'col'>description</th>
                <th scope= 'col'>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for services in servicess %}
            <tr>
                <td>{{ services.id }}</td>
                <td>{{ services.description }}</td>
                <td>
                    <a href="{{ path('services_show', {'id': services.id}) }}">Details</a>
                    <a href="{{ path('services_edit', {'id': services.id}) }}">Modifier</a>
                    <a href="{{ path('services_delete', {'id': services.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('services_create') }}">Nouveaux services</a>

{% endblock %}

