{% extends "base.html.twig" %}

{% block title %}Details services{% endblock %}

{% block body %}
    <h1>services</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>id</th>
                <td>{{ services.id }}</td>
            </tr>
            <tr>
                <th>description</th>
                <td>{{ services.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('services_index')}}">Retour</a>
    <a href="{{ path('services_edit', {'id': services.id})}}">Modifier</a>
    <a href="{{ path('services_delete', {'id': services.id})}}">Supprimer</a>

{% endblock %}