{% extends "base.html.twig" %}

{% block title %}Details Formulaire Atelier{% endblock %}

{% block body %}
<h1>Details Formulaire Atelier</h1>

table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formulaireG.id }}</td>
            </tr>
            <tr>
                <th>nom</th>
                <td>{{ formulaireG.nom }}</td>
            </tr>
            <tr>
                <th>prenom</th>
                <td>{{ formulaireG.prenom }}</td>
            </tr>
            <tr>
                <th>email</th>
                <td>{{ formulaireG.email }}</td>
            </tr>
            <tr>
                <th>numero_de_telephone</th>
                <td>{{ formulaireG.numero_de_telephone }}</td>
            </tr>
            <tr>
                <th>message</th>
                <td>{{ formulaireG.message }}</td>

        </tbody>
    </table>

    <a href="{{ path('formulaire_g_index') }}">Retour</a>

    <a href="{{ path('formulaire_g_edit', {'id': formulaireG.id})}}">Modifier</a>

    {{ include('formulaire_g/delete_form.html.twig')}}
{% endblock %}