{% extends 'base.html.twig' %}

{% block title %}Temoignages{% endblock %}

{% block body %}
 <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Commentaires</th>
                <th scope="col">Notes</th>
                <th scope="col">Photos</th>
            </tr>
        </thead>
        <tbody>
            {% for temoignages in temoignagess %}
            <tr>
                <td scope="row">{{temoignages.id}}</td>
                <td>{{temoignages.Nom}}</td>
                <td>
                    <a href="{{ path('temoignages_show', {'id': temoignages.id}) }}" class="btn btn-primary">Détails</a>
                    <a href="{{ path('temoignages_edit', {'id': temoignages.id}) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path('temoignages_delete', {'id': temoignages.id}) }}" class="btn btn-primary">Supprimer</a>
                </td>
                <td>{{temoignages.Prenom}}</td>
                <td>
                    <a href="{{ path('temoignages_show', {'id': temoignages.id}) }}" class="btn btn-primary">Détails</a>
                    <a href="{{ path('temoignages_edit', {'id': temoignages.id}) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path('temoignages_delete', {'id': temoignages.id}) }}" class="btn btn-primary">Supprimer</a>
                </td>
                <td>{{temoignages.Commentaires}}</td>
                <td>
                    <a href="{{ path('temoignages_show', {'id': temoignages.id}) }}" class="btn btn-primary">Détails</a>
                    <a href="{{ path('temoignages_edit', {'id': temoignages.id}) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path('temoignages_delete', {'id': temoignages.id}) }}" class="btn btn-primary">Supprimer</a>
                </td>
                <td>{{temoignages.Notes}}</td>
                <td>
                    <a href="{{ path('temoignages_show', {'id': temoignages.id}) }}" class="btn btn-primary">Détails</a>
                    <a href="{{ path('temoignages_edit', {'id': temoignages.id}) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path('temoignages_delete', {'id': temoignages.id}) }}" class="btn btn-primary">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<a href="{{ path('temoignages_create') }}" class="btn btn-primary">Ajouter un témoignage</a>
{% endblock %}
