{% extends 'base.html.twig' %}

{% block title %}Employe{% endblock %}

{% block body %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">email</th>
        <th scope="col">password</th>   
    </tr>
    </thead>

    <tbody>
    {% for employe in employes %}
        <tr>
            <th scope="row">{{ employe.id }}</th>
            <td>{{ employe.email }}</td>
            <td>{{ employe.password }}</td>
            <td>
                <a href="{{ path('employe_show', {'id': employe.id}) }}" class="btn btn-primary">Details</a>
                <a href="{{ path('employe_edit', {'id': employe.id}) }}" class="btn btn-primary">Modifier</a>
                <a href="{{ path('employe_delete', {'id': employe.id}) }}" class="btn btn-danger">Supprimer</a>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{ path('employe_create') }}" class="btn btn-primary">Ajouter un employé</a>
{% endblock %}
