{% extends "base.html.twig" %}

{% block title %}Details Employe{% endblock %}

{% block body %}
    <h1>Employes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employe.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employe.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ employe.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('employe_index')}}">Retour</a>

    <a href="{{ path('employe_edit', {'id': employe.id})}}">Modifier</a>

{% endblock %}